html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

* a {
  text-decoration: none;
  color: #687882; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }
  ul li {
    display: inline-block; }

h1 {
  margin: 0;
  padding: 0; }

header {
  padding: 10px 0;
  text-align: center; }
  header nav {
    padding: 5px 0; }
    header nav a {
      color: #CC434F; }
      header nav a:hover {
        color: #dc7f87; }
    header nav li {
      font-family: 'Cousine';
      padding: 0 25px; }
  header h1 {
    font-family: 'MarzoW00-Regular';
    color: #696766;
    font-size: 40px; }
  header p {
    font-family: 'Cousine';
    color: #CC434F;
    margin: 15px 0 5px 0; }

main {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px; }
  main::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 768px) and (max-width: 1023px) {
    main {
      padding: 0 25px; } }
  @media (min-width: 1024px) {
    main {
      padding: 0; } }
  main .hero {
    background: url("../img/rh1.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;
    margin: 0 0 75px 0; }
  main section h2 {
    font-family: 'Cousine';
    color: #CC434F;
    font-size: 18px;
    font-weight: 400; }
  main .bio {
    float: left;
    display: block;
    margin-right: 2.35765%;
    width: 100%; }
    main .bio:last-child {
      margin-right: 0; }
    main .bio h1 {
      letter-spacing: 0.3em;
      font-size: 18px;
      font-weight: 400; }
    main .bio p {
      line-height: 1.6em;
      color: #616161; }
    main .bio img {
      float: left;
      display: block;
      margin-right: 2.35765%;
      width: 100%; }
      main .bio img:last-child {
        margin-right: 0; }
    main .bio .bio-content h1, main .bio .bio-content p {
      font-family: 'Raleway', sans-serif; }
    @media (min-width: 768px) and (max-width: 1023px) {
      main .bio .bio-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding: 25px 0 0 0; }
        main .bio .bio-content:last-child {
          margin-right: 0; }
      main .bio img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        display: block; }
        main .bio img:last-child {
          margin-right: 0; } }
    @media (min-width: 1024px) {
      main .bio .bio-content {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        padding: 45px 45px 0 0; }
        main .bio .bio-content:last-child {
          margin-right: 0; }
      main .bio img {
        float: left;
        display: block;
        margin-right: 2.35765%;
        width: 48.82117%;
        display: block; }
        main .bio img:last-child {
          margin-right: 0; } }
  main .contact {
    clear: both;
    padding-top: 50px;
    text-align: center; }
    @media (min-width: 1024px) {
      main .contact {
        text-align: left; } }
    main .contact .social {
      padding: 20px 0 0 0; }
      main .contact .social i {
        padding: 0 20px 0 0; }
      main .contact .social a:hover {
        color: #d6e6e6; }
  main .video h1, main .photos h1, main .insta h1, main .shows h1 {
    font-family: 'Cousine';
    color: #CC434F;
    font-size: 18px;
    font-weight: 400; }

footer {
  font-family: 'Raleway', sans-serif;
  height: 70px;
  margin: 75px 0 0 0;
  color: #616161; }
  footer a:hover {
    color: #d6e6e6; }
  footer .footer-content {
    text-align: center;
    padding: 10px 0 0 0; }
    @media (min-width: 768px) and (max-width: 1023px) {
      footer .footer-content {
        padding: 35px 0 0 0; } }
    @media (min-width: 1024px) {
      footer .footer-content {
        padding: 35px 0 0 0; } }
  footer .footer-l {
    padding: 0 0 10px 0;
    font-size: 15px; }
    @media (min-width: 768px) and (max-width: 1023px) {
      footer .footer-l {
        float: left; } }
    @media (min-width: 1024px) {
      footer .footer-l {
        float: left; } }
  @media (min-width: 768px) and (max-width: 1023px) {
    footer .footer-r {
      float: right; } }
  @media (min-width: 1024px) {
    footer .footer-r {
      float: right; } }
  footer .footer-links {
    font-size: 20px; }
    footer .footer-links li {
      padding: 0 5px; }

/*# sourceMappingURL=style.css.map */
